@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent{
  width:fit-content;
  background-color:#ffff;
  display:grid;
  justify-content: center;
  grid-template-columns: 160px 160px 160px 160px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.parent > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.btn-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}


.piece{
  object-fit: cover;
}

@layer base {
  a {
    @apply bg-sorbus-500 bg-gradient-to-t from-sorbus-500  to-sorbus-600 hover:from-sorbus-600 hover:from-sorbus-400
  }

}
